docker/data
vendor/
.env
prod.env

logs/*
!logs/.gitkeep
public/uploads/*
!public/uploads/.gitkeep
cache/uploads/*
!cache/uploads/.gitkeep
cache/routes/*
!cache/routes/.gitkeep
cache/containerCompilation/*
!cache/containerCompilation/.gitkeep
